:root {
	--green-color: rgb(48, 219, 91);
	--blue-color: rgb(64, 156, 255);
	--green-color-semi-transparent: rgba(48, 219, 91, 0.2);
	--blue-color-semi-transparent: rgba(64, 156, 255, 0.2);
	--green-color-selected: rgba(48, 219, 91, 0.8);
	--blue-color-selected: rgba(64, 156, 255, 0.8);
}

.line {
	background-color: dimgrey;
}

.articleContainer {
	border: 2px solid rgb(84, 84, 86);
	border-image-slice: 1;
	border-radius: 5px;
}
.articleContainerLeft {
	background-image: linear-gradient(to left, var(--green-color), var(--green-color));
	border-radius: 5px;
}

.articleContainerRight {
	background-image: linear-gradient(to left, var(--blue-color), var(--blue-color));
	border-radius: 5px;
}

.articleContainerNone {
	background-image: linear-gradient(to left, rgb(84, 84, 86), rgb(84, 84, 86));
	border-radius: 5px;
}

.articleContainerAll {
	background-image: linear-gradient(to left, var(--blue-color), var(--green-color));
	border-radius: 5px;
}

.selectedLeft {
	box-shadow: 0 0 2px 2px var(--green-color);
}

.selectedRight {
	box-shadow: 0 0 2px 2px var(--blue-color);
}


.articleHeader {
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	color: white;
	background-color: rgba(84, 84, 86, 0.8);
}

.articleHeaderSelectContainer {
	display: flex;
	justify-content: end;
	flex-direction: row;
	align-items: center;
}

.articleHeaderSelect {
	border-radius: 2px;
}

.articleHeaderSelectLeft {
	border: 1px solid var(--green-color-semi-transparent);
	background-color: var(--green-color-semi-transparent);
}

.articleHeaderSelectLeftSelected {
	background-color: var(--green-color-selected);
}

.articleHeaderSelectRight {
	border: 1px solid var(--blue-color-semi-transparent);
	background-color: var(--blue-color-semi-transparent);
}
.articleHeaderSelectRightSelected {
	background-color: var(--blue-color-selected);
}

.articleContent {
	background-color: white;
}

.articleTextContent {
	background-color: white;
}

.canvasBackground {
	background: rgb(28, 28, 30);
}

.keyboardHeader {
	margin: 0;
	display: flex;
	justify-content: left;
	width: 100%;
	height: 15px;
	color: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.keyboardHeaderLeft {
	background-color: var(--green-color);
}

.keyboardHeaderRight {
	background-color: var(--blue-color);
}

.keyboardInput {
	font-size: 10px;
	width : 100%;
	height: 15px;
	background-color: white;

}

.keyboardHeaderImg {
	width: 15px;
	height: 15px;
}

.articleID {
	font-size: 6px;
	vertical-align: center;
	font-weight: bold;
}

.articleTitle {
	font-size: 6px;
	vertical-align: center;

}

.articleTitleDate {
	font-size: 5px;
	font-style: italic;
}

.articleTagLeft {
	color:var(--green-color);
	background-color:transparent;
	font-size: 5px;
}

.articleTagRight {
	color:var(--blue-color);
	background-color:transparent;
	font-size: 5px;
}

.articleHeaderImg {
	width: 15px;
	height: 15px;
}

.articleContentScroll {
	background: linear-gradient(to left, darkgrey, lightgrey);
	border-radius: 3px;
}
.articleContentResize {
	background: linear-gradient(to left, darkgrey, lightgrey);
	border-radius: 3px;
}

.messageLeft {
	text-align: center;
	vertical-align: bottom;
	background-color: var(--green-color);
}

.messageRight {
	text-align: center;
	vertical-align: bottom;
	background-color: var(--blue-color);
}

.dataImg {
	width: 100%;
	height: auto;
}

.tagListHeader {
	font-size: 6px;
	vertical-align: center;
	border-radius: 3px;
}

.tagListHeaderLeft {
	background-color: var(--green-color);
}

.tagListHeaderRight {
	background-color: var(--blue-color);
}

.tagListItem {
	background-color: #ececec;
	font-size: 8px;
	border-radius: 3px;
	height: 10px;
	horiz-align: left;
	width: fit-content;
	margin:2px;
}

.tagListItemText {
	line-height: 10px;
	vertical-align: top;
}

.tagListItemImg {
	margin-left: 5px;
	width: auto;
	height: 100%;
}

