<script>
    import { onMount } from 'svelte';

    import {
        width,
        height,
        top,
        contentHeight
    } from './stores/dimensions';
    import { slides, settings } from './stores/config';
    import { params } from './stores/params';

    import SizeDetector from './components/SizeDetector.svelte';

    import RhinoRecognizer from './components/RhinoRecognizer.svelte';

    let index, offset;

    onMount( () => {
        height.bypassSet(window.innerHeight);
    });
</script>

<svelte:window bind:innerHeight={$height} />

<h1>Speech Recognition</h1>

<RhinoRecognizer />

<!-- <div class="graphics-svelte-app">
    <SizeDetector bind:width={$width}>

        <!-- Spiegel example --
        <div class="scroller-wrapper">

        </div>
    </SizeDetector>
    <Sources
        sources={$params.sources}
    />
</div> -->

<style>
    .graphics-svelte-app {
        width: 100%;
    }

    .scroller-wrapper {
        position: relative;
        margin: 0rem;
    }

    [slot="background"] {
        width: 100%;
    }

    [slot="foreground"] {
        overflow: hidden;
    }

    .container {
    padding: 0 50px;
    }

    header {
    background: #355c7d;
    padding: 0 15px;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    }

    .recording__box {
    margin-top: 70px;
    }

    html{
    color: #333;
    font-family: "Open Sans", sans-serif;
    }

</style>
